html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.e-list-header {
    height: 57px;
    background-color: #56697f!important;
    padding-left: 15px;
    position: sticky;
    top: -1px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.e-list-header .e-text {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.e-list-content {
    color: #9ca3af;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}