@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="ControlRegion">
    <ejs-listview id="listviewgrp" dataSource="ViewBag.groupData">
        <e-listview-fieldsettings groupBy="category">
        </e-listview-fieldsettings>
    </ejs-listview>
    <style>
        #listviewgrp {
            width: 400px;            
        }
    </style>
</div>
