{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>Editar Entrada</h1>
<form method="post" enctype="multipart/form-data" id="entryForm">
  {% csrf_token %}
  <div class="form-group col-md-3">
    <label for="id_description">Descripción:</label>
    <input type="text" name="description" id="id_description" class="form-control" value="{{ form.description.value }}">
  </div>
  <div class="form-group col-md-3">
    <label for="id_date">Fecha:</label>
    <input type="date" name="date" id="id_date" class="form-control" value="{{ form.date.value|date:"Y-m-d" }}">
  </div>
  <input type="hidden" name="entry_id" value="{{ entry.id }}">
</form>

<form method="post" enctype="multipart/form-data" id="transactionForm">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="row">
    <div class="col-md-8">
      <h2>Transacciones</h2>
      <table id="transactionTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Cuenta</th>
            <th>Débito</th>
            <th>Crédito</th>
            <th>Acciones</th> <!-- Nueva columna para el botón -->
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
          <tr data-transaction-id="{{ form.instance.id }}">
            <td>{{ form.account }}</td>
            <td>{{ form.debit }}</td>
            <td>{{ form.credit }}</td>
            <td>
              {% if form.instance.id %}
              <button type="button" class="btn btn-danger btn-sm delete-transaction">
                <i class="fas fa-trash-alt"></i>
              </button>
              {% endif %}
            </td> <!-- Botón en cada fila -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</form>

<div class="col-md-4">
  <h2>Adjuntos</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Archivo</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for attachment in entry.attachments.all %}
      <tr data-attachment-id="{{ attachment.id }}">
        <td>
          <button type="button" class="btn btn-link" onclick="window.open('{{ attachment.file.url }}', '_blank')">
            <i class="fas fa-paperclip"></i>
          </button>
        </td>
        <td contenteditable="true" class="editable-description">{{ attachment.description }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm delete-attachment">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="dropArea" class="drop-area">
    Arrastra y suelta archivos aquí o haz clic para seleccionar archivos
    <input type="file" id="fileInput" multiple style="display: none;">
  </div>
</div>
</div>

<style>
  .drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .drop-area.dragover {
    border-color: #000;
    background-color: #f0f0f0;
  }
</style>

<script>
  $(document).ready(function () {
    const table = $('#transactionTable').DataTable({
      paging: false,
      searching: false,
      info: false
    });

    $('#transactionTable').on('change', 'input, select', function () {
      const row = $(this).closest('tr');
      let transactionId = row.data('transaction-id'); // Obtener el ID de la transacción
      if (!transactionId || transactionId === '' || transactionId === 'None') {
        transactionId = null; // Asegurarse de que transactionId no sea None o una cadena vacía
      }
      const formData = new FormData();
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      formData.append('entry_id', '{{ entry.id }}'); // Añadir entry_id al formData
      formData.append('account', row.find('select[name$="account"]').val());
      formData.append('debit', row.find('input[name$="debit"]').val());
      formData.append('credit', row.find('input[name$="credit"]').val());

      const url = transactionId ? "{% url 'update_transaction' 0 %}".replace('0', transactionId) : "{% url 'add_transaction' %}";
      fetch(url, {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            if (!transactionId) {
              row.attr('data-transaction-id', data.transaction_id);
              row.data('transaction-id', data.transaction_id);

              // Añadir el botón de borrado a la nueva fila
              row.find('td:last').append('<button type="button" class="btn btn-danger btn-sm delete-transaction"><i class="fas fa-trash-alt"></i></button>');

              // New transaction: Add a new row to the table with empty fields
              const newRow = $('<tr data-transaction-id="None"></tr>');
              newRow.append('<td><select name="account"></select></td>');
              newRow.append('<td><input type="number" name="debit" value="0"></td>');
              newRow.append('<td><input type="number" name="credit" value="0"></td>');
              newRow.append('<td></td>'); // Nueva fila sin botón de borrado
              $('#transactionTable tbody').append(newRow);

              // Optionally, you can populate the account select field with options
              const accountSelect = newRow.find('select[name="account"]');
              const accountOptions = row.find('select[name$="account"] option').clone();
              accountSelect.append(accountOptions);
            }
          } else {
            alert('Error al guardar transacción');
          }
        });
    });

    $('#transactionTable').on('click', '.delete-transaction', function () {
      const row = $(this).closest('tr');
      const transactionId = row.data('transaction-id');
      if (transactionId && transactionId !== 'None') {
        if (confirm('¿Estás seguro de que deseas eliminar esta transacción?')) {
          fetch("{% url 'delete_transaction' 0 %}".replace('0', transactionId), {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            }
          }).then(response => response.json())
            .then(data => {
              if (data.success) {
                table.row(row).remove().draw();
                location.reload();
              } else {
                alert('Error al eliminar transacción');
              }
            });
        }
      }
    });
  });

  const dropArea = document.getElementById('dropArea');
  const fileInput = document.getElementById('fileInput');

  dropArea.addEventListener('click', () => fileInput.click());

  dropArea.addEventListener('dragover', (event) => {
    event.preventDefault();
    dropArea.classList.add('dragover');
  });

  dropArea.addEventListener('dragleave', () => {
    dropArea.classList.remove('dragover');
  });

  dropArea.addEventListener('drop', (event) => {
    event.preventDefault();
    dropArea.classList.remove('dragover');
    const files = event.dataTransfer.files;
    handleFiles(files);
  });

  fileInput.addEventListener('change', (event) => {
    const files = event.target.files;
    handleFiles(files);
  });

  function handleFiles(files) {
    const formData = new FormData();
    for (const file of files) {
      formData.append('files', file);
    }
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    fetch("{% url 'upload_entry_attachments' entry.id %}", {
      method: 'POST',
      body: formData
    }).then(response => response.json())
      .then(data => {
        if (data.success) {
          // Append the new attachment to the attachments table
          const newAttachmentRow = $('<tr></tr>');
          const attachmentLink = '<a href="' + data.file_url + '" target="_blank">' + data.file_name + '</a>';
          newAttachmentRow.append('<td>' + attachmentLink + '</td>');
          newAttachmentRow.append('<td></td>'); // You might want to add a description field here
          $('table:has(thead:has(th:contains("Archivo")))> tbody').append(newAttachmentRow);
          location.reload();
        } else {
          alert('Error al subir archivos');
        }
      });
  }
</script>

<script>
  // Funcionalidad para editar la descripción
  document.querySelectorAll('.editable-description').forEach(cell => {
    cell.addEventListener('blur', function () {
      const attachmentId = this.closest('tr').dataset.attachmentId;
      const description = this.textContent.trim();
      fetch(`/attachments/update_attachment_description/${attachmentId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ description })
      }).then(response => response.json())
        .then(data => {
          if (!data.success) {
            alert('Error al actualizar la descripción');
          }
        });
    });
  });

  // Funcionalidad para borrar adjuntos
  document.querySelectorAll('.delete-attachment').forEach(button => {
    button.addEventListener('click', function () {
      const row = this.closest('tr');
      const attachmentId = row.dataset.attachmentId;
      if (confirm('¿Estás seguro de que deseas eliminar este adjunto?')) {
        fetch(`/attachments/delete_attachment/${attachmentId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }).then(response => response.json())
          .then(data => {
            if (data.success) {
              row.remove();
            } else {
              alert('Error al eliminar adjunto');
            }
          });
      }
    });
  });

  $(document).ready(function () {
    $('#entryForm').on('change', 'input, select', function (event) {
      $('#entryForm').submit();
    });
  });

  $(document).ready(function () {
    $('#entryForm').on('submit', function (event) {
      event.preventDefault();
      const formData = new FormData(this);
      fetch("{% url 'edit_entry' entry.id %}", {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      }).then(response => response.json())
        .then(data => {
          if (!data.success) {
            alert('Error al guardar la entrada: ' + JSON.stringify(data.errors));
            console.log(data);
          }
        });
    });
  });

</script>
{% endblock %}