{% extends "admin/base_site.html" %}
{% load static %}

{% block nav-breadcrumbs %}
    {% if not is_popup %}
    <div class="breadcrumbs">
        <a href="/accounts/account_tree/">Home</a>
        &rsaquo;
        <a href="/accounts/add_account/">Nueva cuenta</a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
  <h1>Agregar Nueva Cuenta</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Guardar</button>
  </form>
{% endblock %}